<section>
    <form class="card shadow p-5">
      <h3 class="card-title">Add Event</h3>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 mb-3">
            <div class="form-group">
              <label for="employeeName">Event Name</label>
              <input id="employeeName" placeholder="E.g Birthday" type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="form-group">
              <label for="Experience">Event Type</label>
              <input id="Experience" placeholder="E.g social" type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <div class="form-group">
              <label for="dob">Date of Event</label>
              <input id="dob" type="date" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="dob">Start Time</label>
              <input id="dob" type="datetime" class="form-control">
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-12">
            <div class="form-group">
              <label for="contact">Description</label>
              <textarea id="contact" type="text" placeholder="This event is all about our empower" class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="text-center mt-3">
          <button class="btn btn-dark ">
            Save
          </button>
        </div>
      </div>
  
    </form>
  </section>